<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="header-logo">
            <a href="/">TweetApp</a>
        </div>
        <ul class="header-menus">
            <li>
                <a href="/about">TweetAppとは</a>
            </li>
            <li>
                <a href="/posts/index">投稿一覧<a>
            </li>
            <li>
                <a href="/posts/new" >新規投稿</a>
            </li>
        </ul>
    </header>
    <%= yield %>
  </body>
</html>
